#header{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 20px 0px;
}
.restaurant-thumbnail{
    height: 200px;
    border-radius: 5px;
}
.top-rated-restaurant{
    color: green;
}
.avg-rated-restaurant{
    color: yellow;
}

.poor-rated-restaurant{
    color: red;
}
a{
    text-decoration: none;
}